<div id="<%= dom_id proveedor %>">
  <p>
    <strong>Razonsocial:</strong>
    <%= proveedor.razonSocial %>
  </p>

  <p>
    <strong>Rfc:</strong>
    <%= proveedor.rfc %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= proveedor.nombre %>
  </p>

  <p>
    <strong>Apellidopaterno:</strong>
    <%= proveedor.apellidoPaterno %>
  </p>

  <p>
    <strong>Apellidomaterno:</strong>
    <%= proveedor.apellidoMaterno %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= proveedor.correo %>
  </p>

  <p>
    <strong>Clabe:</strong>
    <%= proveedor.clabe %>
  </p>

  <p>
    <strong>Pago:</strong>
    <%= proveedor.Pago %>
  </p>

</div>
