<div id="<%= dom_id proveedor %>">
  <p>
    <strong>Razon Social:</strong>
    <%= proveedor.razonSocial %>
  </p>

  <p>
    <strong>RFC:</strong>
    <%= proveedor.rfc %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= proveedor.nombre %>
  </p>

  <p>
    <strong>Apellido Paterno:</strong>
    <%= proveedor.apellidoPaterno %>
  </p>

  <p>
    <strong>Apellido Materno:</strong>
    <%= proveedor.apellidoMaterno %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= proveedor.correo %>
  </p>

  <p>
    <strong>CLABE:</strong>
    <%= proveedor.clabe %>
  </p>

  <p>
    <strong>Pago Contado:</strong>
    <%= proveedor.Pago %>
  </p>

</div>
