<p style="color: green"><%= notice %></p>

<%= render @proveedor %>

<div>
  <%= link_to "Editar proveedor", edit_proveedor_path(@proveedor) %> |
  <%= link_to "Regresar a proveedores", proveedors_path %>

  <%= button_to "Eliminar proveedor", @proveedor, method: :delete %>
</div>
